
body{
    background-color: black;
    color: white;
}

.nav-link{
    color: white;
    font-size: 1.2rem;
}

.nav-link a:hover{
    color: gold;
}

.navbar-brand{
    color: white;
    font-size: 1.5rem;
}
footer{
    background-color: rgb(47, 47, 47);
    min-height: 100px;

}
footer div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
footer div p{
    text-align: center;
}

main {
    margin: 0px 0px 40px 0px ;
}




.peli {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.2rem;
}


.movie img{
    border-radius: 1rem;
    width: 150px;
}

.movie img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.movie img:hover {
    transform: scale(1.08);
}


/**************** HOME *******************/
.introduction{
    display: flex;
        flex-direction: column;
        align-items: center;
}

.introduction h1{
    text-align: center;
}

.introduction p{
    
    font-size: 1.2rem;
    text-align: center;
    max-width: 800px;
}


.introduction img{
    max-height: 300px;
    max-width: 430px;
}

.search_section{
    display: flex;
        flex-direction: column;
        align-items: center;
}

.search_section h3{
    color: rgb(255, 195, 75);
}


.search_section input{
    background: transparent;
    border: 1px solid rgb(255, 195, 75);
    width: 400px;
    color: white;
}

.search_section button{
    border-radius: 0.5rem;
    background-color:rgb(255, 195, 75); 
    border: none;

}

/**************** HOME *******************/

/**************** CARD *******************/
/**************** CARD *******************/



/**************** RESEARCH *******************/

/**************** RESEARCH *******************/


/**************** FAVORITES *******************/
/**************** FAVORITES *******************/
