<nav class="navbar">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/images/logo_pequeño.png" alt="MovieVault Logo">
            <span class="ms-3">MovieVault</span>
        </a>

        <button class="hamburger" id="hamburger" aria-label="Open navigation menu">
            ☰
        </button>

        <ul class="navbar-nav" id="nav-menu">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/src/favorites/favorites.html">
                    Favorites
                </a>
            </li>
        </ul>

    </div>
</nav>